@import 'utility';

$base-text-size: 26px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 10px;
  font: $base-text-size / 1 $base-font-family;
  font-family: 'Concert One', cursive;
}

.warnings {
  color: red;
}

.btn-danger {
  margin-left: 30px;
}
